@{
  Layout = "_Layout";
}

<h2>Welcome to our Theater</h2>

<button class="btn btn-dark">@Html.ActionLink("See movies", "Index", "Movies")</button>
<button class="btn btn-dark">@Html.ActionLink("See customers", "Index", "Customers")</button>